@model Dish
<div class="text-center">
    <a href="/">Chefs</a> | <span>Dishes</span>
     <a href="/dishes/new" class="ms-5 add d-block">Add a Dish</a>
    <p>Yum, take a look at our tasty dishes!</p>
    <hr>
        <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Chef</th>
        <th scope="col">Tastiness</th>
        <th scope="col">Calories</th>
    </tr>
  </thead>
  <tbody>

@{
    foreach(Dish i in ViewBag.AllDishes)
    {
        <tr>
        <td>@i.DishName</td>
        <td>@i.Chef.FirstName @i.Chef.LastName</td>
        <td>@i.Tastiness</td>
        <td>@i.Calories</td>
        </tr>
    }
}
</tbody>
</table>
</div>